#body {
    /* color:#ff0000; */
    font-family: "Futura,Helvetica,Arial";
    padding: 1rem;
}
#potFrame:hover{
    cursor:crosshair;
}
#myTitle {
    font-size: 8px;
    color: #ffffff;
}

.editor {
    font-size: 12px;
}
#fileType {
    color: #70be96;
    bottom: 0;
    top:12px;
    margin-top: 12px;
}
#newName {
    color: #eb656a;
}
.menuTitle{
    border-left:black 2px solid;
    background-color: black;
    
}
/***************** BUTONS *******************/

/**
NORMAL
*/
.styled-button {
    font-size: 11px;
    color: #ffffff;
    text-align: left;
    padding: 1px;
    border-radius: 3px;
    border: 2px solid #ffffff;
    filter: box-shadow(0, 0, white, 0.2, 1px, 1px, true), box-shadow(0, 0, white, 0.4, 1px, 1px), box-shadow(0, 0, white, .2, 0px, 0px);
}
.styled-button .label {
    margin: 1px;
    padding: 1px;
    top: 2px;
    height: 100%;
}

#openFile {
    background-color: #44745b;
}
#update {
    background-color: #867e23;
}
#saveFile {
    background-color: #8b3a3d;
}
#addCommentCk {
    background-color: #10516f;
}
/**
HOVERS
*/
#addCommentCk:down,
#addCommentCk:hover {
    background-color: #209dd8;
}
#update:hover {
    background-color: #f9ea44;
}
#openFile:hover {
    background-color: #70be96;
}
#saveFile:hover {
    background-color: #eb656a;
}
.styled-button:hover {
    filter: box-shadow(0, 0, white, 0.2, 8px, 8px, true), box-shadow(0, 0, white, 0.4, 4px, 4px), box-shadow(0, 0, white, .6, 2px, 2px);
}


/*
yellow  #f7ed7c f9ea44
blue #209dd8
green #70be96
red #eb656a
*/
.column-addCC{
    background-image: url("assets/reload.png");
    background-color: #f9ea44;
}